body {
    background-image:url("https://images6.alphacoders.com/750/750311.jpg");
    background-color: rgb(235, 165, 159);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-weight: 500;
    color:rgb(231, 176, 176);
    font-size: 20px;
}

h1 {
    text-align:center;
    color:rgb(181, 31, 31);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px
}

h2 {
    text-align:center;
    color:rgb(189, 154, 168);
    text-decoration: underline;
}
h3 {
    text-align:center;
    color:rgb(164, 21, 76);
    text-decoration: underline;
}

form {
    text-align:center;
    border: 20px solid #a73d3d;
    border-width:10px 14px 22px 14px;
    margin: 10 px auto 10 px;
    padding: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-style: ridge;
    border-right-width: 5px;
}

label {
    color:#ffffff;
    font-weight: bold;
}

button {
    color:rgb(181, 31, 31);
}